[Unit]
Description=Easy email sending using files
After=network-online.target

[Service]
User=<USER>
Group=<GROUP>
Type=simple
Restart=always
RestartSec=60
WorkingDirectory=<WORKING_DIR>
ExecStart=<PIPENV_PATH> run python -u mailqueue.py

[Install]
WantedBy=multi-user.target
